header {
	color: white;

	.wrapper {
		width: 85%;
		margin: 0 auto;

		.header-common-block {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo-text {
				line-height: 27px;
				h1 {
					font-weight: 200;
					font-family: "Roboto", sans-serif;
					font-size: 25px;
					text-transform: uppercase;
				}
				.logo-text-big {
					font-weight: bold;
					font-size: 43px;
				}
				.logo-text-copyrighter {
					font-weight: normal;
					font-size: 10px;
					margin-right: -5rem;
					margin-top: -25px;
				}
			}
			.new-g-btn {
				background-color: rgba(255, 217, 0, 0.856);
				color: black;
				padding: 1rem 2rem;
				font-size: 20px;
				border-radius: 0.3rem;
			}
		}
	}
}
hr {
	color: white;
}
.btn-open-modal{
	background-color: rgba(255, 217, 0, 0.856);
	color: black;
	padding: 0.5rem 1rem;
	font-size: 20px;
	border-radius: 0.3rem;
}

.btn-close-modal{
	background-color: rgba(255, 217, 0, 0.856);
	color: black;
	padding: 0.5rem 1rem;
	font-size: 17px;
	border-radius: 1.3rem;
}

.custom-modal-text{
	color: white;
	font-size: 24px;
}
