<header>
    <div class="wrapper">
        <div class="header-common-block">
            <div class="logo-text">
                <h1>
                  count your <br />
                  <span class="logo-text-big">points</span><br />
                </h1>
                <p class="logo-text-copyrighter">©Softclub Edition</p>
              </div>
              <div class="game-btn">
                  <button routerLink="/start-game" class="new-g-btn">New game</button>
              </div>
        </div>
    </div>
</header><hr>
<section class="throw-results">
    <div class="wrapper">
        <div class="list-players" *ngFor="let user of users">
            <div class="player">
              <p class="username">{{ user.username }}</p>
            </div>  
            <form [formGroup]="dartsForm" (submit)="onSubmit()" class="darts">
                <div class="dart" >
                    <p class="number-dart">
                        Dart 1
                    </p>
                    <input formControlName="firstDart"  type="text" class="inp-points">
                    <ul class="coefficient">
                        <li>
                            <button>
                                1x
                            </button>
                        </li>
                        <li>
                            <button>
                                2x
                            </button>
                        </li>
                        <li>
                            <button>
                                3x
                            </button>
                        </li>
                    </ul>
                   
                </div>
                <div class="dart">
                    <p class="number-dart">
                        Dart 2
                    </p>
                    <input formControlName="secondDart" type="text" class="inp-points">
                    <ul class="coefficient">
                        <li>
                            <button>
                                1x
                            </button>
                        </li>
                        <li>
                            <button>
                                2x
                            </button>
                        </li>
                        <li>
                            <button>
                                3x
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="dart">
                    <p class="number-dart">
                        Dart 3
                    </p>
                    <input formControlName="thirdDart" type="text" class="inp-points">
                    <ul class="coefficient">
                        <li>
                            <button>
                                1x
                            </button>
                        </li>
                        <li>
                            <button>
                                2x
                            </button>
                        </li>
                        <li>
                            <button>
                                3x
                            </button>
                        </li>
                    </ul>
                </div>
                <button type="submit" >add</button>
            </form>
        </div>
        
        
    </div>
</section>
<hr>
<section class="list-results">
    <div class="wrapper">
        <div class="common-block-list">
            <div class="list-players" *ngFor="let user of users" >
                <ul>
                    <li class="username">
                        {{user.username}}
                    </li>
                </ul>
            </div>
            <div class="list-points" *ngFor="let dart of point">
                <ul>
                    <li>
                        {{dart.firstDart}}
                    </li>
                    <li>
                        {{dart.secondDart}}
                    </li>
                    <li>
                        {{dart.thirdDart}}
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
    
</section>

