<header>
  <div class="wrapper">
    <div class="logo-text">
      <h1>
        count your <br />
        <span class="logo-text-big">points</span><br />
      </h1>
      <p class="logo-text-copyrighter">©Softclub Edition</p>
    </div>
  </div>
</header>
<section>
  <div class="wrapper">
    <p class="text-sel-pl">
      Select players
    </p>
    <div class="common">
      <input type="text" placeholder="Search">
      <button routerLink="/add-player">New player</button>
    </div> 
    <div class="list-players" *ngFor="let user of users; let i = index">
      <div class="player">
        <p class="username">{{ user.username }}</p>

        <p class="email">{{ user.email }}</p>
        <img src="../../assets/images/delete.png" (click)="removePlayer(i)"  alt="del">
      </div>  
    </div>
  </div>
</section>
<section class="type-game">
  <div class="wrapper">
    <div class="common-type-game">
      <p>
        Choose game
      </p>
      <div class="games">
        <button class="type-game-link" (click)="fbToggle = !fbToggle" [class.type-game-link]="fbToggle" [class.type-game-link-active]="!fbToggle">501</button>
        <button class="type-game-link" (click)="sbToggle = !sbToggle" [class.type-game-link]="sbToggle" [class.type-game-link-active]="!sbToggle">301</button>
      </div>
    </div>
    <button class="start-btn" routerLink="/game">
      start game
    </button>
  </div>
</section>


