<header>
  <div class="wrapper">
    <div class="logo-text">
      <h1>
        count your <br />
        <span class="logo-text-big">points</span><br />
      </h1>
      <p class="logo-text-copyrighter">©Softclub Edition</p>
    </div>
  </div>
</header>
<section>
  <div class="wrapper">
    <p class="add-player-text">Add a new player to start the game</p>
    <form [formGroup]="form" (submit)="onSubmit()">
      <label for="text">User Name</label>
      <input type="text" required formControlName="username" />
      <label for="text">Email</label>
      <input type="text" required formControlName="email" />
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
</section>
